# Node 依赖
node_modules

# Nuxt 构建产物
.nuxt
.output
.nitro
.data
.cache
dist

# 本地环境变量（敏感！）
.env
.env.*

# 测试与工具
coverage
app/**/__tests__

# Git 与 IDE
.git
.gitignore
.github
.gitattributes
.vscode
.idea
.fleet
.DS_Store

# 文档与杂项
README.md
LICENSE
*.log
logs