name: Deploy to Aliyun

on: push

jobs:
  ci:
    runs-on: ${{ matrix.os }}

    strategy:
      matrix:
        os: [ubuntu-latest]
        node: [22]

    steps:
      - name: Checkout
        uses: actions/checkout@v6

      - name: Install pnpm
        uses: pnpm/action-setup@v4

      - name: Install node
        uses: actions/setup-node@v6
        with:
          node-version: ${{ matrix.node }}
          cache: pnpm

      - name: Install dependencies
        run: pnpm install

      - name: Lint
        run: pnpm run lint

      - name: Build
        run: pnpm run build

      - name: Deploy to Server via Rsync
        uses: burnett01/rsync-deployments@7.0.1
        with:
          switches: -avz --delete # 递归、压缩、同步删除
          path: .output/public/ # Nuxt 的静态文件输出目录
          remote_path: /var/www/my-site/ # 服务器上的目标目录
          remote_host: ${{ secrets.SERVER_HOST }} # 服务器 IP
          remote_user: ${{ secrets.SERVER_USER }} # 登录用户名
          remote_key: ${{ secrets.SSH_PRIVATE_KEY }} # SSH 私钥
