name: Simple Nuxt 4 Deploy

on: [push]

jobs:
  deploy:
    runs-on: ubuntu-latest
    
    steps:
      - uses: actions/checkout@v4
      
      - name: Build
        run: |
          pnpm install
          pnpm run build
          
      - name: Deploy
        uses: easingthemes/ssh-deploy@v4
        with:
          SSH_PRIVATE_KEY: ${{ secrets.SSH_PRIVATE_KEY }}
          SOURCE: ".output/"
          REMOTE_HOST: ${{ secrets.SERVER_HOST }}
          REMOTE_USER: ${{ secrets.SERVER_USER }}
          TARGET: "/var/www/my-site/"
          ARGS: "-avz --delete"
          
      - name: Start with PM2
        uses: appleboy/ssh-action@v1.0.0
        with:
          host: ${{ secrets.SERVER_HOST }}
          username: ${{ secrets.SERVER_USER }}
          key: ${{ secrets.SSH_PRIVATE_KEY }}
          script: |
            cd /var/www/my-site
            
            # 直接使用 PM2 启动
            pm2 describe NuxtApp > /dev/null 2>&1 && pm2 reload NuxtApp || pm2 start .output/server/index.mjs --name NuxtApp
            
            pm2 save